* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

@keyframes shake {
    0% {
        opacity: 0.8;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 0.8;
    }
}

ul {
    list-style-type: none;
}

